.titulo-card {
  overflow: hidden;
  text-overflow: ellipsis;

  white-space: nowrap;
}

.rodape-card {
  background-color: #f2f2f2;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding-bottom: 10px;
}

.btn-detalhes {
  background-color: #F24C3D;
  color: #F2F2F2;
  font-weight: bold;
  border-radius: 20px;
}

.btn-detalhes:hover{
  background-color: #BF3F34;
  color: #F2F2F2;
  font-weight: bold;
}



.img-card {
  background-color: #f2f2f2;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  max-height: 180px;
  min-width: 100%;
  min-height: 180px;
  
}

.card-body {
  max-height: 180px;
  max-width: 100%;
  min-height: 180px;
  background-color: #f2f2f2;
}

.card-body p {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  max-height: 100px;
  white-space: pre-line;
}