.container {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 900px) {
  .container {
    width: 40%;
    margin: 0 auto;
  }
}

.btn-criar-evento {
  background-color: #F24C3D;
  color: #F2F2F2;
  transition: .35s ease-in;
}

.btn-criar-evento:hover {
  background-color: #BF3F34;
  color: #F2F2F2;
}

.form-group label {
  font-weight: bold;
}

.form-group input, .form-group select, .form-group textarea {
  border: none;
  border-radius: 20px;
  background-color: #F2F2F2;
}

.spinner-border {
  color: #BF3F34;
}