.navbar {
  background-color: #BF3F34;
  background-image: linear-gradient(25deg, #d12a2a 15%, rgb(245, 99, 73) 80%);
}

.nav-item {
  color: #F2F2F2;
  font-weight: bold;
}

.nav-item:hover {
  color: #732929;
}
