.redefinir-content {
  width: 100%;
  padding: 15%;
  margin: auto;
  background-color: #F24C3D;
  background-image: linear-gradient(0deg, #BF3F34 5%, #F24C3D 100%);
  height: 100vh;
}

.btn-redefinir {
  background-color: #ffffff;
  color: #BF3F34;
  transition: .35s ease-in;
}

.btn-redefinir:hover {
  background-color: #732929;
  color: #ffffff;
}

.btn-voltar a {
  text-decoration: none;
  color: #e1ddfa;
  transition: .2s ease-in;
}

.btn-voltar a:hover {
  text-decoration: none;
  color: #732929;
}