.img-banner {
  width: 100%;
  min-height: 300px;
  max-height: 500px;
}

.box-info {
  background-color: #F24C3D;
  background-image: linear-gradient(15deg, #d12a2a 15%, #F24C3D 80%);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .5s ease-in;
}

.btn-pdf {
  background-color: #F24C3D;
  background-image: linear-gradient(15deg, #d12a2a 15%, #F24C3D 80%);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  transition: .5s ease-in;
}

.btn-pdf:hover {
  background-color: rgb(143, 62, 55);
  background-image: linear-gradient(-15deg, #F24C3D 15%, #d12a2a 80%);
  
}
.btn-editar {
  color: #261419;
  position: fixed;
  bottom: 10px;
  right: 10px;
  transition: .3s;
}

.btn-editar:hover{
  color: #f2f2f2;
}

.barra-dados {
  background-color: #f2f2f2;
}

.fundo-detalhes {
  background-color: #F24C3D;
  background-image: linear-gradient(0deg, #BF3F34 5%, #F24C3D 100%);
  padding: none;
}

.box-detalhes {
  background-color: #f2f2f2;
}

.views {
  position: absolute;
  bottom: 20px;
  left: -20px;
  background-color: #00000085;
  color: white;
  padding-left: 50px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 50px;
  font-size: 1.3em;
}

.box-img {
  position: relative;
}

.tudo-card {
  transition: .5s;
}

.texto-detalhes {
  white-space: pre-line;
}